@{
    ViewData["Title"] = "Gummi Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GummiKing.Models.Country

<h2>Add a new Product Country</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    

    <input type="submit" value="Create" class="btn btn-info" />
}

@Html.ActionLink("Back to Product List", "Index")